/* colors from http://paletton.com/#uid=63t0l0kqpvQrVQArqGxoEqYm1kU */

h1 {
    font-size: 75px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}

.sec1,
.sec2,
.sec3 p {
    font-size: 50px;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    color: #FFF;
    text-align: center;
}

.sec1 {
    background-color: #2375A1;
    width: 100%;
}

.sec2 {
    background-color: #1DA87E;
}

.sec3 {
    background-color: #FE9E2C;
}

.container-fluid {
    padding-top: 100px;
    padding-bottom: 100px;
}